:root { 
--green_300:#5cd38c; 
--deep_orange_A100:#ec9b6e; 
--deep_orange_A200:#d56f35; 
--red_900:#c11717; 
--red_500:#f34336; 
--gray_900_8e:#1e1c1c8e; 
--red_400:#db5551; 
--green_700:#379a15; 
--teal_300:#48a5b1; 
--black_900:#000000; 
--gray_500_01:#a99c9c; 
--teal_900:#042a44; 
--light_green_800:#449200; 
--gray_500_02:#aa9c9c; 
--blue_gray_900_01:#2e2a2a; 
--blue_gray_900:#363535; 
--gray_500:#9d9c9c; 
--blue_gray_100:#d9d9d9; 
--lime_500:#e0c848; 
--blue_gray_600:#3d6681; 
--gray_800:#3e3939; 
--gray_900:#1e1c1c; 
--gray_900_01:#2d2a2a; 
--teal_A400:#35d5b8; 
--blue_gray_900_93:#2b2b2b93; 
--gray_900_b2:#1e1c1cb2; 
--white_A700:#ffffff; 
}